{% extends 'base.html' %}    
{% block content %}   
   
   <h1>ABOUT PAGE</h1>
   <div class="container ">
      <div class="row justify-content-center">

         <div class="col">
            <h2 style="color:pink;text-decoration:underline;">Meet the Artist</h2>
            <img class="headshot" src="static/files/4419AD6B-FD4F-406F-B30A-A63719314E10.jpeg" alt="">
         </div>

         <div class="col" style="color:pink;">
            <p style="margin-top:70px;font-size:20px;">I am currently a college student aiming to become Pediatrician and do I do beading as my hobby! <br>
               I love beading in my free time and it has been a dream to have a small business for creations. <br>
               I've been beading for almost 14 years now and I'm entriely self taught in this and crocheting!!!
               Everything is hand made 💐 💌
   
            </p>
         </div>
      </div>
   </div>

   <div class="container ">
      <div class="row justify-content-center">
         <div class="col" style="color:pink;">
            <h2 style="text-decoration:underline;">Meet the Manager</h2>
            <img class="manager" src="static/files/Photos Library.jpeg" alt="">
         </div>   
         <div class="col" style="color:pink;">
            <p style="margin-top:70px;font-size:20px;">
               Here is my fur baby and the proud manager of the business
            </p>
         </div>
      </div>
   </div>

{% endblock %}   