{% extends 'base.html' %}    
{% block content %}   
   
   <h1>ABOUT PAGE</h1>
   <div>
      <h2>Meet the Artist</h2>
      <img class="headshot" src="static/files/4419AD6B-FD4F-406F-B30A-A63719314E10.jpeg" alt="">

   </div>
   <div>
      <p>I am currently a college student aiming to become Pediatrician and do I do beading as my hobby! <br>
         I love beading in my free time and it has been a dream to have a small business for creations. <br>
         I've been beading for almost 14 years now and I'm entriely self taught in this and crocheting!!!
         Everything is hand made 💞 💐 💌

         
      </p>
   </div>

   <div>
      <h2>Meet the Manager</h2>
      <p>
         Here is my fur baby and the proud manager of the business
         <img class="manager" src="static/files/Photos Library.jpeg" alt="">
      </p>

   </div>

{% endblock %}   