{% extends 'base.html' %}    
{% block content %}   
   
   

    <div class="homepage" style="background-color:#1c1c1c;">
        <h1>Beaded Jewelry by Jackie</h1> 
        <img src="static/files/photo-1553356084-58ef4a67b2a7.jpg" style="width:100vw;height:100vw;">
        <div class="centered" style="position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);font-size: 50px;">
            <a class="nav-link" href="/posts" style="color:hotpink;"><i class="bi bi-shop"></i></a>
        </div>
    </div>
    

{% endblock %}   
   